<h2>Commits</h2>
<app-commits-filter
  [sinceDate]="sinceDate"
  (applied)="onFilterApply($event)"
  (changed)="onFilterChange()">
</app-commits-filter>
<mat-list>
  <mat-list-item *ngFor="let commit of commits">
    <a mat-line routerLink="/commits/{{commit.sha}}">
      <span>{{commit.commit.message}}</span>
    </a>
    <div mat-line><em>{{commit.commit.author.name}}</em><span>{{commit.commit.author.date | date:"short"}}</span></div>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
<app-commits-pagination
  *ngIf="commits.length"
  [currentPage]="currentPage"
  [totalPageCount]="totalPageCount"
  [perPageCount]="perPageCount"
  (goPrev)="goToPrevPage()"
  (goNext)="goToNextPage()">
</app-commits-pagination>
