<h2>Commits</h2>
<div>
  <form [formGroup]="timeRangeForm" (ngSubmit)="applyTimeRange()">
    <label>Since: <input required min="1" max="24" formControlName="timeRangeValue" type="number" placeholder="Some period"/></label>
    <label>
      <input type="radio" value="hour" formControlName="timeRangeType">
      Hour
    </label>
    <label>
      <input type="radio" value="month" formControlName="timeRangeType">
      Month
    </label>
    <label>
      <input type="radio" value="year" formControlName="timeRangeType">
      Year
    </label>
    <button [disabled]="false" type="submit">Apply</button>
  </form>
</div>
<ul>
  <li *ngFor="let commit of commits">
    <a routerLink="/commits/{{commit.sha}}">
      <span>{{commit.sha}}</span>
    </a>
    <p>{{ (commit.commit.message.length>80)? (commit.commit.message | slice:0:80)+' ...':(commit.commit.message) }}</p>
    <p>{{commit.commit.committer.date | date:"short"}}</p>
  </li>
</ul>
<button [disabled]="currentPage === 1" (click)="getPrevCommits()">Newer</button>
<button [disabled]="currentPage === totalPageCount" (click)="getNextCommits()">Older</button>
